/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #b8c1ec;
    background: #232946;
}

h1,
h2,
h3 {
    color: #eebbc3;
}

h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    color: #fffffe;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
}

.col {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* TEXT */
.text-center {
    text-align: center;
}

/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
.site-header {
    margin-top: 3rem;
}

/* LESSONS SECTION */
.lessons .col {
    width: 50%;
}

.lessons .col img {
    height: 200px;
    margin-bottom: 1rem;
}

/* STEPS SECTION */
.steps {
    margin: 3rem 0;
    padding: 3rem 0;
    color: #232946;
    background: #eebbc3;
}

.steps h2,
.steps h3 {
    color: #232946;
}

.steps .col {
    width: calc(100% / 3);
}

.steps .col img {
    height: 200px;
    margin-bottom: 1rem;
}

/* WHY US SECTION */
.why-us {
    margin-bottom: 3rem;
}
.why-us .col-left {
    width: 40%;
}

.why-us .col-right {
    width: 60%;
}

.why-us li {
    list-style: none;
    margin-bottom: 2.5rem;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/
 /* Stili per dispositivi con larghezza massima di 480px o meno */
@media screen and (max-width:480px){
    /* Imposta la larghezza del contenitore al 100% */
    .container{
        width: 100%;
    }

    /* Imposta la direzione dei flex item della classe "row" a column */
    .row{
        flex-direction: column;
    }

    /* Imposta la larghezza al 100% per le colonne delle classi "lessons", "steps", "why-us" */
    /* Per i dispositivi con schermi piccoli, gli elementi occupano tutta la larghezza disponibile */
    .lessons .col, .steps .col, .why-us .col-left, .why-us .col-right{
        width: 100%;
    }

    /* Aggiunge uno spazio inferiore di 3 rem ai paragrafi all'interno delle classi "lessons" */
    /* Ciò aumenta lo spazio tra i paragrafi in dispositivi con schermi piccoli */
    .lessons p{
        margin-bottom: 3rem;
    }

    /* Rimuove lo spazio esterno (margin) dalla classe "steps" */
    .steps{
        margin: 0;
    }

    /* Aggiunge un margine superiore di 1 pixel all'elemento con classe "container" all'interno della classe "steps" */
    .steps .container{
        margin-top:  1px;
    }

    /* Modifica lo sfondo e gli spazi di margine nella classe "why-us" */
    .why-us{
        background-color: black; /* Sfondo nero */
        margin-bottom: 0; /* Rimuove lo spazio inferiore */
        padding: 3rem 0; /* Aggiunge spazi di riempimento sopra e sotto di 3rem */
    }
}

/* Stili per dispositivi con larghezza massima di 768px o meno */
@media screen and (max-width:768px){
    /* Imposta la larghezza del contenitore al 100% */
    .container{
        width: 100%;
    }
    
}

/* Stili per dispositivi con larghezza minima di 768px e larghezza massima di 1141px */
@media screen and (min-width:768px) and (max-width:1141px){
    /* Imposta la larghezza del contenitore al 100% */
    .container{
        width: 100%;
    }
    
}